---
---
a li {color: #ff0000 !important;}
p a {color:#ff0000 !important}
table a { color: #ff0000 !important; }
th  { background-color: #3f3f3f !important; }
.markdown-body a:not(.btn):not([class^="carousel-"]):not([class^="list-"]):not(.no-underline):hover { color: #ff0000 !important; }
.markdown-body a:not(.btn):not([class^="carousel-"]):not([class^="list-"]):not(.no-underline)::after { background: #ff0000 !important;}


@import "portfolYOU";

.link-after, .nav-link::after, .navbar-brand::after, .nav-item.active::after { content: ""; display: block; height: 0.15em; background: #ff0000; }
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {	background-color: #cc0000 !important; transition: ease-in-out 0.3s;}

.timeline-body { position: relative; border-radius: 0 15px 15px 0; padding: 5px 0; }
.timeline-body:after { content: ""; width: 4px; height: 100%; background-color: #ff0000; position: absolute; left: -4px; top: 0; }
.timeline-body .timeline-item { position: relative; }
.timeline-body .timeline-item:after { content: ""; width: 20px; height: 20px; border-radius: 50%; border: 4px solid #ff0000; background-color: #f8f9fa; position: absolute; left: -12px; top: 8px; z-index: 10; }
.timeline-body .timeline-item .content { margin: 40px; padding-bottom: 20px; border-bottom: 1px dashed #343a40; }
.timeline-body .timeline-item .content .date { margin-top: -5px; margin-bottom: 15px; color: #6c757d; }

.badge-pill {border-color: #ff0000 !important; color:#ff0000 !important}

#attribution a {color: #ff0000 !important; transition: ease-in-out 0.3s;}
#attribution a:hover {color: #a00101 !important; transition: ease-in-out 0.3s;}
.markdown-body a:not(.btn):not([class^="carousel-"]):not([class^="list-"]):not(.no-underline):hover { color: #ff0000 !important;  text-decoration-color:#ff0000 !important}
.input-group-append {color: #ff0000 !important;}
.btn-outline-primary {color: #aa0000 !important; border-color: #aa0000 !important;}
.btn-outline-primary:hover {color: #aa0000 !important; border-color: #aa0000 !important; background-color: #ff0000;}

.border-primary {border-color: #a00101 !important;}
.bg-primary {background-color: #a00101 !important; transition: ease-in-out 0.3s;}

// .markdown-body a:not(.btn):not([class^="carousel-"]):not([class^="list-"]):not(.no-underline):hover { color: #ff0000 !important; }


